@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.tabela{
    padding: 30px 0;
    background-color: #ACD1EA;
    text-align: center;
    font-family: 'Roboto';
    justify-content: center;
}

.tabela h3{
    border-bottom: 1px solid;
    padding: 0 200px;
    display: inline-block;
}

.tabela table{
    width: 90%;
    margin: auto;
}

.tabela table, th, td{
    border: 1px solid;
    border-collapse: collapse;
}

.tabela td{
    text-align: center;
}